{
  "presets": [
    "@babel/preset-flow",
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "comments": false,
  "ignore": [
    "src/interface.js",
    "src/index.flow.js"
  ],
  "env": {
    "production": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }],
        "@babel/preset-flow",
        "minify"
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }
}